#contact {
  padding: 2rem;
  background-color: #111;
  color: #fff;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ff5722;
  margin-top: 5px;
}

.contact p {
  margin: 0.5rem 0 2rem;
  font-weight: 500;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.contact-box {
  flex: 1 1 calc(25% - 2rem);
  min-width: 200px;
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  transition: background 0.3s ease;
}

.contact-box:hover {
  background-color: #222;
}

.contact-box svg {
  font-size: 1.8rem;
  color: #ff5722;
  margin-bottom: 0.5rem;
}

.contact-box h4 {
  margin: 0.3rem 0;
  font-weight: bold;
}

.contact-box p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

.contact-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff5722;
  margin-top: 2rem;
  text-align: center;
}

.contact-subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  color: #bbb;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.contact-form input,
.contact-form textarea {
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  width: calc(50% - 1rem);
}

.contact-form textarea {
  width: 100%;
  resize: none;
  height: 120px;
}

.contact-form button {
  background-color: #ff5722;
  color: #fff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ff5722;
}

@media (max-width: 768px) {
  .contact-form input {
    width: 100%;
  }

  .contact-grid {
    flex-direction: column;
  }
}
